.grid-container {
    display: inline-grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    height: 700px;
    width: 700px;
}

.grid-container > div {
    border: 1px solid red;
}

.grid-container > div:hover {
    background-color: aliceblue;
}

.X {
    background-color: black;
}